{% extends 'layout.html.twig' %}

{% block body %}

    <h1>Article avec l'id {{ article.id }}</h1>

    <p>
        {{ article.content }}
    </p>

    {{ article.category.nom }}

    <a href="{{ path('blog.delete', {id: article.id}) }}">Supprimer</a>
    <a href="{{ path('blog.update', { id: article.id}) }}">
        Modifier
    </a>

{% endblock %}